
.detail{
    
        // background-position: center;
        // background-repeat: no-repeat;
        // background-size: cover;
        height: auto;
        width: 100%;
        padding:30px 0 50px 0;
    
    
    
    &-box{
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.527);
        padding: 50px 30px;
        margin: 100px 0;
        &__img{
            
            
            margin-right: 20px;
            & img{
                border-radius: 10px;
            }
        }
        &__detail{
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            // align-items: center;
        }
        &__name{
            font-size: 40px;
            margin-bottom: 30px;
            line-height: 60px;
        }
        &__group{
            display: flex;
            align-items: center;
            
            & ul{
                display: flex;
                align-items: center;
                margin: 0 15px;
                & li:nth-child(1){
                    margin-right: 5px;
                }
                & li:nth-child(2){
                    margin-right: 5px;
                }
                & li:nth-child(3){
                    margin-right: 5px;
                }
                & li:nth-child(4){
                    margin-right: 5px;
                }
                & li:nth-child(5){
                    margin-right: 5px;
                }
                & li{
                    display: flex;
                    align-items: center;
                    & a{
                        color: $black;
                        text-align: center;
                       
                    }

                    
                }
            }
        }
        &__button{
            display: flex;
            align-items: center;
            margin: 20px 0;
        }
        &__date{
            font-size: 20px;
            margin: 20px 0;
        }
        &__score{
            margin-right: 15px;
            margin: 20px 0;
            font-size: 20px;
        }
        &__descript{
            font-size: 25px;
            margin: 20px 0;
            
        }
        &__director{
            display: flex;
            flex-direction: column;
            
            margin: 20px 0;
            
            & span{
                font-size: 20px;
                margin-bottom: 5px;
                & a{
                    color: $black;
                }
            }
        }
    }
}